section {
    margin-bottom: 25px;
}

 

h1 {
    color: rgb(116, 70, 15); 
    border-bottom: saddlebrown 20;
    border-radius: 20px;
    border-style: double;

}

body {
    background-color: rgb(253, 198, 159);
    width: 1200px;
    border-style: solid 30px;
    border-color: turquoise;
    border-radius: 50px;
    margin: 0 auto;
}

.center {
    margin: auto;
    padding: 10px;
    
  }

  img {
    display:block;
    margin:auto;
  }

  footer {
    
      width: 1200px;
      background-color: cadetblue ;
  }
  footer ul {
     display:inline-block;
      list-style-type: none;
      margin-right: 20px;
      
  }